<div ng-show="$ctrl.value == 0">
    <span ng-class="candidateStyle(1)">{{$ctrl.candidates[0] ? "1" : " "}}</span><span ng-class="candidateStyle(2)">{{$ctrl.candidates[1] ? "2" : " "}}</span><span ng-class="candidateStyle(3)">{{$ctrl.candidates[2] ? "3" : " "}}</span> <br>
    <span ng-class="candidateStyle(4)">{{$ctrl.candidates[3] ? "4" : " "}}</span><span ng-class="candidateStyle(5)">{{$ctrl.candidates[4] ? "5" : " "}}</span><span ng-class="candidateStyle(6)">{{$ctrl.candidates[5] ? "6" : " "}}</span> <br>
    <span ng-class="candidateStyle(7)">{{$ctrl.candidates[6] ? "7" : " "}}</span><span ng-class="candidateStyle(8)">{{$ctrl.candidates[7] ? "8" : " "}}</span><span ng-class="candidateStyle(9)">{{$ctrl.candidates[8] ? "9" : " "}}</span>
</div>
<div ng-hide="$ctrl.value == 0" class="cell-value">
    <div>{{$ctrl.value}}</div>
</div>