<table>
    <tr ng-repeat="row in [0,1,2,3,4,5,6,7,8]">
        <td ng-repeat="col in [0,1,2,3,4,5,6,7,8]" ng-class="cellStyle(row, col)"><sudoku-cell cx="row" cy="col"></sudoku-cell></td>
    </tr>
</table>