<div>You can enter a sudoku here to fill out the board with it all at once.  It is pretty generous about formatting, and only looks for 81 "meaningful characters".  These are '.', '?', '*', and '0' for unknown cells and the digits 1-9 for known ones.</div>
<br>
<input type="button" value="import" ng-click="$ctrl.importSudoku()">
<input type="button" value="step" ng-click="$ctrl.stepSudoku()">
<input type="button" value="solve" ng-click="$ctrl.solveSudoku()">
<br>
<textarea type="text" ng-model="$ctrl.sudokuInput" title="Sudoku" rows="15" cols="15"></textarea>
