table {
  border-collapse: collapse; }
  table td {
    border: solid black thin; }
  table .sudoku-column-2, table .sudoku-column-5, table .sudoku-column-8 {
    border-right-width: thick; }
  table .sudoku-column-0, table .sudoku-column-3, table .sudoku-column-6 {
    border-left-width: thick; }
  table .sudoku-row-2, table .sudoku-row-5, table .sudoku-row-8 {
    border-bottom-width: thick; }
  table .sudoku-row-0, table .sudoku-row-3, table .sudoku-row-6 {
    border-top-width: thick; }

sudoku-cell {
  text-align: center; }
  sudoku-cell .cell-candidate {
    min-height: 1em;
    min-width: 1em;
    display: inline-block; }

.cell-value {
  min-height: 1em;
  min-width: 1em;
  vertical-align: middle;
  font-size: 300%; }

sudoku-form div {
  max-width: 31em;
  display: inline-block; }

.change, .removed-candidate, .set-value {
  font-weight: bold; }

.removed-candidate {
  color: red; }

.set-value {
  color: green;
  text-decoration: underline; }

.justification, .justification-candidate, .justification-value {
  color: blue; }
