table {
  border-collapse: collapse;

  td {
    border: solid black thin;
  }

  .sudoku-column-2, .sudoku-column-5, .sudoku-column-8 {
    border-right-width: thick;
  }

  .sudoku-column-0, .sudoku-column-3, .sudoku-column-6 {
    border-left-width: thick;
  }

  .sudoku-row-2, .sudoku-row-5, .sudoku-row-8 {
    border-bottom-width: thick;
  }

  .sudoku-row-0, .sudoku-row-3, .sudoku-row-6 {
    border-top-width: thick;
  }
}

sudoku-cell {
  text-align: center;

  .cell-candidate {
    min-height: 1em;
    min-width: 1em;
    display: inline-block;
  }
}

.cell-value {
  min-height: 1em;
  min-width: 1em;
  vertical-align: middle;
  font-size: 300%;
}

sudoku-form {
  div {
    max-width: 31em;
    display: inline-block;
  }
}

.change {
  font-weight: bold;
}

.removed-candidate {
  @extend .change;
  color: red;
}

.set-value {
  @extend .change;
  color: green;
  text-decoration: underline;
}

.justification {
  color: blue;
}

.justification-candidate {
  @extend .justification;
}

.justification-value {
  @extend .justification;
}